{% extends "base.html" %}
{% block extrahead %}
 {{ form.media|safe }}
{% endblock extrahead %}
{% block title %}Ricerca Wikipedia{% endblock %} {% block content %}
<h1>Ricerca Wikipedia</h1>
<form action="." method="POST">
    {{ form.as_table }}
    <input type="submit" value="Cerca" />{% csrf_token %}
</form>
{% if risultati %}
<h2>{{ risultati|length }} risultati</h2>
<ul>
{% for ris in risultati %}
<li><a href='{{ link }}{{ ris.title }}'>{{ ris.title }}</a></li> {% endfor %}
</ul>
{% endif %}
{% if commento %}
<h3>commento</h3>
{{ commento|safe }}
{% endif %}
{% endblock %}